#login-geral{
	background-image: url("../images/bg-masterapp.png") !important;
	background-size:cover;
	padding-top: 50%;
	witdth: 100%;
	height: 100%;
	display:none;
}

#texto-welcome
{
	color: #FFF;
	text-align: center;
}

#auth-loginlink
{
	padding-left: 23%;
	top: 70%;
	cursor: pointer;
}